/AttributeBasedAC/src/AttributeBasedAC.Test/bin/Debug/*.*
/AttributeBasedAC/src/AttributeBasedAC.Core/bin/Debug/*.*
/AttributeBasedAC/src/AttributeBasedAC.Test/obj/Debug/**/*.*
/AttributeBasedAC/src/AttributeBasedAC.Core/obj/Debug/**/*.*